#root {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-flow: row nowrap;

  overflow: hidden;
}

.left {
  flex-grow: 1;
}

.header-toolbar {
  height: var(--toolbar-height);
  min-height: var(--toolbar-height);

  .search-icon {
    width: 19px;
    height: 19px;

    margin-right: 10px;
  }

  .bomb-icon {
    width: 19px;
    height: 19px;
  }

  padding: 0 10px;
}

.footer-toolbar {
  height: var(--footer-height);
  min-height: var(--footer-height);

  font-size: 12px;
  padding: 0 15px;

  background-color: #111;

  .speed-controls {
    p {
      padding: 0 5px;
    }
  }
}

.orbit-system {
  height: calc(100vh - var(--toolbar-height) - var(--footer-height) - 2px);
}

.right {
  padding: 0 15px;
  padding-top: 17px;
  width: 33vw;
}