@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-shadow: 0;
}

hr {
  border: 1px solid white;
  margin: 20px 0;
}

img {
  image-rendering: pixelated;
}

:root {
  font-family: "Press Start 2P", monospace;
  font-size: 12px;
  font-optical-sizing: none;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111;

  font-synthesis: weight;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;

  --toolbar-height: 45px;
  --footer-height: 30px;

  --green: #19f705;
}

.green {
  color: var(--green);
}

.clickable {
  cursor: pointer;

  &:hover {
    color: var(--green);
  }
}