@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-shadow: 0;
}

:root {
  font-family: "Press Start 2P", monospace;
  font-optical-sizing: none;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: weight;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}